node_modules
dist
dist-ssr
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
public/indice-recursos.json
public/recursos
public/plantillas.json
*.tsbuildinfo
vite.config.d.ts
vite.config.js

.vercel
